.head{
    margin-top: 30px;
}

.main{
    margin-top: 30px;
}

.book-container{
    margin-bottom: 30px;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
}

a, a:hover, a:focus {
    text-decoration: none;
    color: #333;
}

.return, .return:hover, .return:focus {
    color: #337ab7;
    font-weight: bold;
}

.info-container{
    margin: 60px 0;
}

.gray {
    background-color: #eee;
}

.author-avatar{
    margin-top: 100px;
}
